.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  height: 100px;
  padding: 0px 12px;
  color: rgba(0, 0, 0, 0.3);
  width: 100%;
  background-image: url("Logofootert.svg");
  background-repeat: no-repeat;
  background-position-x: 20px;

  flex-direction: column;
  justify-content: center;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
  color: $myp;
}

.footer .fa-heart {
  color: $myp;
}
