<div class="container">
  <%= render "form", project: @project %>
  <%= link_to "Go to my projects", my_projects_path, class: "btn btn-primary" %>
  <%= link_to "Delete project", project_path(@project), class: "btn btn-cancel", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this project ?" }, class: "btn btn-outline-primary" %>
</div>
