<div class="activity-list">
  <ul>
    <% @projects.each do |project| %>
      <li class="activity-list-item"><td><%=project.title%> </td></li>
    <%end%>
  </ul>
  Coucou
</div>

<div class="parent"
  data-controller="projects"
  data-projects-markers-value="<%= @markers.to_json %>"
  data-projects-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
