<!--
<div class="container" style="padding: 90px;">
  <ul class="list-group">
    <% @projects.each do |project| %>
      <li class="list-group-item"><td><%=project.title%> </td></li>
    <%end%>

  </ul>

    <%= @markers %>
    </div>
-->


<!-- [...] -->

<div style="width: 100%; height: 100vh;"
  data-controller="projects"
  data-projects-markers-value="<%= @markers.to_json %>"
  data-projects-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
