<p style="color: green"><%= notice %></p>

<% @project.photos.each do |photo| %>
  <%= render photo %>
<% end %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <h4>Add a photo:</h4>
    </div>
  </div>
</div>
