.project-body{
  max-width: 1480px;
  padding-top: 40px;
  margin: auto;
}

.project-title{
  text-align: center;
  margin-bottom: 24px;
}

.descriptions-container{

  margin-top: 64px;
  margin-bottom: 120px;
  padding-left: 112px;
  padding-right: 100px;
}

.project-desc{
  text-align: center;
}

.back-btn-project{
  margin-left: 20%;
}

.project-infos{
  text-align: left;
  color:#0eaf9e;
}
