.project-title {
  margin-top: 40px;
}

.project-body {
  color: rgb(60, 60, 60);
  padding-top: 40px;
  text-align: center;

}
 .project-description {
  color: rgb(60, 60, 60);
  text-align: left;
  width: 45em;
  word-wrap: break-word;
 }
 .project-infos {
  color: rgb(60, 60, 60);
  text-align: left;
  width: 45em;
  word-wrap: break-word;
 }

 .project-details{
  margin-top: -230px;
  margin-left: 775px;
  color: rgb(60, 60, 60);
  text-align: left;
 }

 .water-mark {
  margin-top: -111px;;
  margin-left: -820px;
  width: 300px
 }
.back-btn {
    margin-top: 140px;
    margin-left: -354px;
}
@media only screen and (min-width: 600px) {
  /* For tablets: */

}
@media only screen and (min-width: 768px) {
  /* For desktop: */

}
