// app/assets/stylesheets/components/_map.scss
.mapboxgl-popup {
  max-width: 250px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.parent {
  width: 100%;
  height: 100vh;

  position:relative;
}
.maplist {
 background-color: #F2DD72;
 position: absolute;
 top: 0px;
 left: 0px;

 width: 250px;
 height: 800px;
 z-index: 2
}

.activity-list{
  background-color: rgba(51, 51, 51, 0.562);
  margin: 20px;
  padding: 10px;
  position:absolute;
  left: 20 px;
  top: 200 px;
  width: 20%;
  height: 80%;
  z-index: 1000;
}

.activity-list-item{
color: rgb(218, 218, 218);
}
