// app/assets/stylesheets/components/_map.scss
.mapboxgl-popup {
  max-width: 250px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.parent {
  width: 100%;
  height: calc(100vh - 106px);
  position: relative;
}

.maplist {
  position: absolute;
  top: 0px;
  left: 0px;

  width: 250px;
  height: 800px;
  z-index: 2
}

.activity-list {
  margin-top: 20px;
  margin-left: 20px;
  padding: 3px;

  background-color: rgba(1,1,1,0.2);
  position: absolute;
  min-width: 250px;
  max-height: calc(100vh - 106px);
  z-index: 1000;
}

.company {
  padding: 1px;
}

.activity-list-item {

}

.activity-list-item a {
  text-decoration: none;
  color: black;
}
