.navbar-lewagon {
  justify-content: space-between;
  background: $myp;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  width: 80px;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
}

.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

#navbarDropdown{
border-style: solid;
color: #f4f4f4;
border-width: 4px;
}
