.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  width: 60px;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
}

.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
}
